@PrefixCls:inputfoot;
.@{PrefixCls}-input-box{
  width: 100%;
  background: #fff;
  position: absolute;
  left:0;
  bottom: 0;
  border-top: 1px solid #ddd;

}
.@{PrefixCls}-input{
  float: left;
//  background:url("../../svg/page/writer.svg") 0 center ;
  margin: 10px 60px;
  border: 1px solid #ddd;
  width: 320px;
  height:46px;
  border-radius: 30px;
  padding-left: 80px;

}
.@{PrefixCls}-sendbtn{
  float: right;
  margin: 12px 30px 10px 0;
  color:#0c73c2;

}
