@PrefixCls: fontsizepage;
@navbar-height: 90px;
@bgColor : white;

.@{PrefixCls}-header {

  width : 100%;
  height: @navbar-height;
  :global{
    .am-navbar-title{
      color : #108ee9;
      font-size: .3rem;
    }
  }
}

.@{PrefixCls}-preview-size{
  width: 100%;
  margin-top: 20px;
  min-height: 600px;
  background: @bgColor;
  .@{PrefixCls}-font{
    margin: 0 ;
     width: 100%;
    text-align: center;
   }
}
:global{
  .am-slider-wrapper{
    height:35px;
  }
  .am-slider-step{
    padding: 50px 0;
  }
}
