@PrefixCls: test;
@navbar-height: 90px;
@bgColor : white;

.@{PrefixCls}-header {
	position: fixed;
	z-index: 100;
	top: 0;
	width : 100%;
	height: @navbar-height;
}

.@{PrefixCls}-normal {
}

.my-draft-list{
	padding-left:.15rem;
	:global {
		.am-list-line{
			padding-right:.15rem;
		}
	}
}

